mixin about
	.row.pb-lg-4
		.col-xs-12.col-lg-6.order-lg-12
			img.thumbnail.border.border-secondary.p-1(src="http://placehold.it/750x350")
		.col-xs-12.col-lg-6
			h2.h1 Our Agency, our selves.
			p Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor.