mixin cta
	section.jumbotron.text-center.bg-white.border-bottom
		.container
			h1.display-4 Changing the World Through Design
			p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in dui mauris.
			div
				button.btn.btn-primary.btn-lg.rounded-0.m-2(type="button") Learn more
				button.btn.btn-primary.btn-lg.rounded-0.m-2.bg-white.text-primary(type="button") Learn less